@import 'bootstrap';


body{
    background-color: rgb(209, 215, 215);
}
.welcome{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}
img{
    width: 100px;
    // float: left;
    margin-right: 20px;
}
.logout{
    float: right;
    margin-left: 20px;
}

.nav-item{
    float: right;
    // background-color: black;
 }

.nav-link{
color: black;
}
.active {
background-color: rgb(209, 215, 215);

}
.card{
    margin: 15px;
}
.virsus {
    display: block;
    float: right;
    
}
.alert{
    text-align: center;
}
a{
    text-decoration: none;
}
// .header-container {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     background-color: transparent;
//     padding-top: 0.7rem;
//     padding-bottom: 0.7rem;
//     overflow: hidden;
//     transition: all ease-out 0.3s;
//     z-index: 9999;
// }

.header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
